//Core
$Black: #0E0E10;
$White: #F6F4EF;

//Neutrals
$N500: #F6F4EF;
$N400: #C8C7C3;
$N300: #848381;
$N200: #4B4B4A;
$N100: #1A1A1C;

//Grey
$G500: #121213;
$G400: #414142;
$G300: #888889;
$G200: #C4C4C4;
$G100: #EEEEEE;

//Primary
$P500: #806AE7;

//Secondary
$S500: #FFC37C;

$error: #FF6B63;
